// Footer Section
footer.bg-dark.text-white.py-5
  .container
    .row
      // About Us Section
      .col-md-6.mb-4.mb-md-0
        h5 About Us
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
      // Social Media Links Section
      .col-md-6.text-md-end
        h5 Follow Us
        ul.list-unstyled.d-flex.justify-content-md-end
          li.d-inline-block.m-2
            a(href='https://www.facebook.com' target='_blank')
              i.fa.fa-facebook.fa-2x.text-white
          li.d-inline-block.m-2
            a(href='https://www.twitter.com' target='_blank')
              i.fa.fa-twitter.fa-2x.text-white
          li.d-inline-block.m-2
            a(href='https://www.instagram.com' target='_blank')
              i.fa.fa-instagram.fa-2x.text-white
          li.d-inline-block.m-2
            a(href='https://www.linkedin.com' target='_blank')
              i.fa.fa-linkedin.fa-2x.text-white

    // Copyright Section
    .row.mt-4
      .col-12.text-center
        p.small.text-muted
          | &copy; 2024 Laptopshop. All rights reserved.
